/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {

	--bg: #363c4a;
	--bg-soft: #4C566A;
	--bg-light: #5A657A;
	--text: #ECEFF4;
	--text-soft: #D8DEE9;
	--accent: #81a1c1;
	--highlight: #8fbcbb;
	--muted: #4C566A;
}

body {
	min-height: 100vh;
	font-family: "Atkinson", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text);
	font-size: 20px;
	line-height: 1.7;
	overflow: visible;

	background-size: 120% 120%;
	background: radial-gradient(
			circle at top,
			#4c566a 0%,
			#363c4a 25%
	) no-repeat 50% 0;
	animation: pulseGradient 12s ease-in-out infinite;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;  /* vertical centering */
	align-items: center;      /* horizontal centering */
	text-align: center;
	min-height: 80vh;         /* gives it height */
	padding: 0 1.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	opacity: 0.8;
	margin-top: 0;
}
h1 {
	font-size: 5rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	color: var(--text);
}
h2 {
	font-size: 2.441em;
	color: var(--text-soft);
}
h3 {
	font-size: 1.953em;
	color: var(--text-soft);
}
h4 {
	font-size: 1.563em;
	color: var(--text-soft);
}
h5 {
	font-size: 1.25em;
	color: var(--text-soft);
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	max-width: 600px;
	line-height: 1.7;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--accent);
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--accent));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
.profile-pic {
	width: 160px;
	height: 170px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 1.5rem;
	border: 3px solid #3B4252;   /* subtle Nord frame */
	box-shadow: 0 10px 30px rgba(129, 161, 193, 1);
}
.image{
	width: 10px;
	height: 10px;
	border-radius: 5%;
	object-fit: cover;
	margin-bottom: 1.5rem;
	border: 3px solid #3B4252;   /* subtle Nord frame */
	box-shadow: 0 10px 30px rgba(129, 161, 193, 1);
}
.intro-box {
	max-width: 650px;
	padding: 1.5rem 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;

	background: var(--bg-soft);
	border-radius: 12px;

	backdrop-filter: blur(4px);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
footer {
	position: relative;
	background: var(--bg);
	text-align: center;
	padding: 0 1em 1em 1em;
	margin-top: 1rem;
}
.network-section {
	margin-top: 3rem;
}

#network {
	width: 100%;
	max-width: 800px;
	height: 500px;
	border-radius: 16px;
	background: var(--bg-soft);
}
.social-icons {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}
@keyframes pulseGradient {
	0% {
		background-size: 110% 110%;
		background-position: 50% 0;
	}
	50% {
		background-size: 170% 170%;
		background-position: 50% 20%;
	}
	100% {
		background-size: 110% 110%;
		background-position: 50% 0;
	}
}