---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
<main>
    <head>
        <BaseHead title="About - Alfie Ralls" description="About me" />
    </head>
    <body>
    <Header />
    <h1>About me :)</h1>
    <div class="intro-box">
        <p>
            Thanks for checking out my website!
            I am a Computer Science student at
            <a href="https://www.lancaster.ac.uk" target="_blank" rel="noopener">Lancaster University</a>,
            with a strong interest in software engineering and the broader landscape of computing.
            Alongside my academic work, I am an active photographer, with a particular focus on UK railways,
            a subject that frequently appears in my work.
        </p>
    </div>
    <div class="intro-box">
        <p>
            I am passionate for free open source software and Linux! Both of which I use and experiment
            with on my own systems.
            I also contribute to Wikipedia, primarily writing and improving articles related to the British railway network.
        </p>
    </div>
    <Footer />
    </body>
</main>
</html>