---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('February 25 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Thanks for checking my website out! I am a first year computer science student at
		Lancaster University passionate about software engineering, anything computer science, photography,
		and UK railways (a theme you will see featured heavily in my photography), the world, and anything
		geopolitics interests me greatly.
	</p>

	<p>
		Placeholder
	</p>

	<p>
		Placeholder
	</p>

	<p>
		Placeholder
	</p>

	<p>
		Placeholder
	</p>
</Layout>
