---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
		<body>
			<Header />
			<main>
				<h1>Alfie Ralls</h1>
				<div class="intro-box">
					<h5>Computer science student, photographer of anything worth documenting, Wikipedia contributor</h5>
				</div>
					<image>
						<img src="/homepageFeature.jpeg" alt="Hills in Wales" class="Photo" width={685}/>
					</image>
				<div>
					<p>
						Welcome to my website!
					</p>
				</div>
			</main>
		<Footer />
		</body>
</html>