---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
<head>
    <BaseHead title="Photos - Alfie Ralls" description="My photography" />
    <title>Photos - Alfie Ralls</title>
</head>

    <body>
    <main>
        <Header />
        <div>
            <h1>Photos</h1>
        </div>
        <div class="intro-box">
            <p>Here are some photos which I have taken over the past year! More to be added soon...</p>
        </div>
        <div class="gallery">
            <img src="/gallery/photo1.jpeg" alt="The engineering building and management school at Lancaster" />
            <img src="/gallery/photo2.jpeg" alt="A spirited departure of a steam train from Kidderminster" />
            <img src="/gallery/photo3.jpeg" alt="A view of greenery in Snowdonia, Wales" />
        </div>
        <div class="gallery">
            <img src="/gallery/photo4.jpeg" alt="92220 Evening Star at the National Railway Museum" />
            <img src="/gallery/photo5.jpeg" alt="The Lancaster University wind turbine at sunset" />
            <img src="/gallery/photo6.jpeg" alt="Sunset by the med school"/>
         </div>
        <Footer />
    </main>
    </body>
</html>
